.Card {
    width: 1000px;
    height: 400px;
    margin-bottom: 50px;
    transition: transform 0.7s;
    transform-style: preserve-3d;
    position: relative;
}

.back {
    transform: rotateY(180deg);
}

.front, .back{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    background-color: white;
    backface-visibility: hidden;
    border-radius: 20px;
    border-bottom: 30px solid #BC002D; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    color: #15151e;
    font-size: 50px;
}

.Card.flipped {
    transform: rotateY(180deg);
}
